body {
  background-color:rgb(255, 228, 231); /*Achtergrond kleur*/
}

h1{ /*titel per pagina*/
  color:black; /*kleur van de tekst*/
  margin-bottom: 10px; /*ruimte onder tekst en volgende stukje tekst*/
  margin-left: 20px; /*ruimte tussen linkerkant van pagina en tekst*/
  margin-top:20px; /*ruimte tussen het menu en tekst*/
  font-family:fantasy; /*lettertype*/
}

p {
  color:rgb(0, 0, 0); /*algemene paragraaf*/
  float:left; /*paragraaf komt aan de linkerkant van de pagina*/
  font-size:20px; /*lettergrootte*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  margin-right:2%; /*ruimte tussen rechterkant van pagina en tekst*/
}

.subkop {/*subkopjes*/
  font-size:25px; /*letter grootte*/
  color:rgb(0, 0, 0); /*tekst kleur*/
  background-color:lightpink; /*achtergrond kleur tekst*/
  display:block;
  font-family:cursive; /*lettertype*/
  border-radius:15px; /*afronding van hoekjes achtergrond*/
  padding:15px; /*ruimte tussen tekst en zijkant achtergrond kleur*/
}
.footer {
  background-color:rgb(20, 71, 158);
  color:white; /*tekstkleur*/
  padding:10px; /*ruimte tussen tekst en einde achtergrondkleur*/
  text-align:center;
  display:block;
  margin:0px;
  width:100%;
}

.voorstellen { /*eerste tekst over mezelf, het voorstellen*/
  width:60%; /*breedte van de tekst*/
  font-size:20px; /*letter grootte*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
}

.huisdieren { /*paragraaf over huisdieren*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  font-size:20px; /*letter grootte*/
  width:60%; /*breedte van de tekst*/
}

.hobbys { /*paragraaf over hobby's*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  font-size:20px; /*letter grootte*/
  width:60%; /*breedte van de tekst*/
}

.studie { /*paragraaf over studies*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  font-size:20px; /*letter grootte*/
  width:60%; /*breedte van de tekst*/
}

.algemeen{ /*paragrafen algemeen*/
  background-color:rgb(240, 152, 196); /*achtergrond kleur tekst*/
  border-radius:15px; /*afronding van hoekjes achtergrond*/
  padding:20px; /*ruimte tussen tekst en zijkant achtergrond kleur*/
}

.kleur1{ /*eerst paragraaf kleurmodellen*/
  font-size:20px; /*letter grootte*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  border:3px; /*dikte rand om tekst*/
  border-color:rgb(20, 71, 158); /*kleur rand om tekst*/
  border-style:dashed; /*stijl van de rand om tekst*/
  padding:5px; /*ruimte tussen tekst en rand*/
}
.kleur2{ /*tweede paragraaf kleurmodellen, mengen van kleuren*/
  width:50%; /*breedte van de tekst*/
  font-size:20px; /*letter grootte*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
}
.kleur3{ /*laatste paragraaf kleurmodellen, CMY*/
  margin-top: 5px; /*ruimte tussen tekst en afbeelding*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  font-size:20px; /*letter grootte*/
}
.binairkop{ /*tekst onder titel bij binair stelsel*/
  font-size:23px; /*letter grootte*/
  text-align:center;
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  background-color:rgba(20, 71, 158, 0.383);
  display:block;
  padding:15px; /*ruimte tussen tekst en zijkant achtergrond kleur*/
  border-radius:15px; /*afronding van hoekjes achtergrond*/
}
.binair1 { /*eerste paragraaf binair stelsel, verschil getallensysteem*/
  width:60%; /*breedte van de tekst*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tekst*/
  font-size:20px; /*letter grootte*/
}

.binair2 { /*laatste paragraaf binair stelsel, boven spel*/
  text-align:center;
  border:2px; /*dikte rand rond tekst*/
  border-style:dotted; /*stijl rand rond tekst*/
  border-color:darkblue; /*kleur rand rond tekst*/
  padding:10px; /*ruimte tussen rand en tekst*/
  font-size:20px; /*letter grootte*/
  margin-left:15%; /*ruimte tussen linkerkant van pagina en tekst*/
  width:70%; /*breedte van de tekst*/
}

.p_vorm { /*paragraaf bitmap- en vectorafbeeldingen, 2 manieren opslaan*/
  width:60%; /*breedte van de tekst*/
  float:right; /*paragraaf komt aan de rechterkant van de pagina*/
  margin-right:5%; /*ruimte tussen rechterkant van pagina en tekst*/
  margin-top:50px; /*ruimte tussen tekst en tekst erboven*/
}

.samplerate { /*laatste paragraaf bitmap- en vectorafbeeldingen over sample rate*/
  float:right; /*paragraaf komt aan de rechterkant van de pagina*/
  width:45%; /*breedte van de tekst*/
  margin-top:40px; /*ruimte tussen tekst en tekst erboven*/
}

.compressie {
  border-style:dotted; /*dikte rand rond tekst*/
  border:3px; /*dikte rand rond tekst*/
  border-color:lightpink; /*kleur rand rond tekst*/
  padding:10px;
  font-size:20px;
}

ul { /*menu*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(20, 71, 158);
}
li { /*menu*/
  float:left; /*menu begint aan de linkerkant van de pagina*/

}
li a { /*één pagina van het menu*/
  display:block;
  padding: 14px 40px; /*ruimte tussen tekst en einde achtergrondkleur*/
  color:rgb(255, 253, 255); /*kleur tekst*/
  text-align: center;
  font-size:20px; /*letter grootte*/
}
li a:hover { /*hover*/ 
  background-color:lightpink; /*achtergrondkleur hover*/
}

.active { /*hover van pagina die open staat*/
  background-color:lightpink; /*achtergondkleur hover*/
}

.nova { /*plaatje hond*/
  float:right; /*afbeelding begint aan der rechterkant van de pagina*/
  margin-right:2%; /*ruimte tussen rechterkant van pagina en afbeelding*/
  margin-top:10px; /*ruimte tussen het menu en het plaatje*/
}

.uitlegbinair { /*plaatje uitleg binair stelsel*/
  float: right; /*afbeelding begint aan de rechterkant van de pagina*/
  margin-right:5%; /*ruimte tussen rechterkant van pagina en afbeelding*/
}

.filmpjebinair { /*filmpje uitleg binair stelsel*/
  margin:10px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.vid_kleur { /*filmpje uitleg over verschil tussen RGB en CMYK*/
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  margin-bottom:3px; /*ruimte tussen onderkant video en footer*/
}

.spelbinair{ /*spelletje binair stelsel*/
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  margin-bottom:5px; /*ruimte tussen footer en spel*/
}
.cirkels { /*plaatje kleurencirkels*/
border: 3px solid; /*dikte en stijl rand rond afbeelding*/
border-color:rgb(20, 71, 158); /*kleur rand rond afbeelding*/
float:right; /*afbeelding begint aan de rechterkant van de pagina*/
margin-right:5%; /*ruimte tussen rechterkant van pagina en afbeelding*/
margin-bottom:5px; /*ruimte tussen onderkant afbeelding en tekst*/
}

.vormen { /*plaatje opslaan vectorafbeelding*/
  margin-left:5%; /*ruimte tussen linkerkant van pagina en afbeelding*/
}

.verschil_b_v { /*plaatje verschil bitmap- en vectorafbeelding*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en afbeelding*/
  margin-bottom:5px; /*ruimte tussen afbeelding en het volgende kopje*/
  border:3px solid; /*dikte en stijl rand rond afbeelding*/
  border-color:black; /*kleur rand rond afbeelding*/
}
.tabel{ /* tabel waarden sterkte geluid, omgezet naar binair stelsel*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en tabel*/
  border:3px solid; /*dikte en stijl rand rond tabel*/
  border-color:black;  /*kleur rand rond tabel*/
}
.grafiek{ /*grafiek bij waarden tabel sterkte geluid, omgezet naar binair stelsel*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en grafiek*/
  border:3px solid; /*dikte en stijl rand rond grafiek*/
  border-color:black;  /*kleur rand rond grafiek*/
}
.bloem{ /*plaatje uitleg bij lossy compression*/
  margin-left:2%; /*ruimte tussen linkerkant van pagina en afbeelding*/
  border:3px solid; /*dikte en stijl rand rond afbeelding*/
  border-color:black;  /*kleur rand rond afbeelding*/
}
