body {
  background-color:rgb(253, 210, 216); /*Achtergrond kleur*/
  color:darkblue;
}
p {
  color:rgb(20, 97, 81); /*paragraaf*/
  float:left;
}
ul { /*menu*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(6, 89, 32);
}
li { /*menu*/
  float:left;

}
li a { /*één pagina van het menu*/
  display: block;
  padding: 14px 30px;
  color:rgb(255, 253, 255);
  text-align: center;
}
li a:hover { /*hover*/
  background-color:rgb(253, 210, 216);  
  background-color:cyan;
}
img{ /*plaatje hond*/
  float:left;
}